@use "../../cssVariables/variables.scss";

.cart_wrapper {
  margin-top: 150px;
  margin-bottom: 150px;
  overflow-y: auto;
  position: fixed;
  text-align: start;
  background: linear-gradient(
      180deg,
      rgba(178, 145, 180, 0.18902) 54.4%,
      rgba(51, 241, 231, 0.2) 100%
    ),
    #ffffff;
  width: 100vw;
  height: 85vh;
  z-index: 2;

  .cart_cancel {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 40px;
  }
}
.cart_wrapper.hide {
  animation: fadeOut 0.7s forwards;
}
.cart {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 60% 30%;
  gap: 20px;

  opacity: 0;
  animation: slideInFromBottom 1.5s forwards;
  .cart_delivery::before {
    content: none;
  }
}
.cart.hide {
  animation: fadeOut 0.7s forwards;
}

.cart_title {
  text-align: center;
}

.cart_detail {
  margin: 0 50px;
}

.cart_delivery_not_active {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
  min-height: 300px;
  align-items: center;
  justify-content: center;
}

.cart_payment {
  width: 80%;
  @extend .TextLabel;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 180px;
    height: 30px;
  }
}

@media (max-width: 1200px) {
  .cart_payment {
    margin-bottom: 30px;
  }
}

@media (max-width: 1020px) {
  .cart {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .cart_detail {
      justify-items: center;
      text-align: center;
      .cart_delivery_active {
        justify-items: start;
      }
    }
    .cart_receiver {
      justify-items: center;

      .cart_receiver_form {
        align-items: center;
      }
    }
    .cart_delivery::before {
      content: "Доставка: ";
      text-align: center;
      font-size: 26px;
      margin: 10px auto;
    }
    .cart_order {
      min-width: 400px;
    }
  }
}

@media (max-width: 768px) {
  .cart_wrapper {
    width: 100%;
    height: 100%;
  }
  .cart {
    padding-bottom: 50px;
  }
}
