@use "../../main.scss";
/* Личный кабинет  */
.user_panel_wrapper {
  width: 100vw;
  height: 100vh;
  //   margin: 5vh 5vw;
  position: fixed;
  background: linear-gradient(
    180deg,
    rgba(225, 248, 246, 0.6) 8%,
    rgba(247, 206, 204, 0.6) 70%
  );
  z-index: 3;
}

.user_panel {
  position: relative;
  background-color: white;
  width: 50%;
  max-width: 700px;
  height: 80vh;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;

  .userPanel_button_wrapper {
    position: relative;
    // width: 50%;
    // max-width: 700px;
    width: 420px;

    label {
      position: absolute;
      top: 20px;
      left: 20px;
      opacity: 0.5;
    }
  }

  h2 {
    // margin-top: 50px;
    margin: 50px auto;
  }
  button {
    @extend .TextLabel;
    width: 420px;
    height: 59px;
    background: #c3abdb;
    border-radius: 10px;
    margin-top: 20px;
  }

  .cancel {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}
