# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
frontend_oksa_shop/yarn-error.log
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
plot.md
.plot
sdek.md
.env
todo.md
.media

# Editor directories and files
.vscode/*
**/__pycache__/
.__pycache__
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
