<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'css/emails.css' %}">

</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Восстановление пароля</h1>
        </div>
        <div class="content">
            <p>Здравствуйте!</p>
            <p>Вы запросили восстановление пароля. Пожалуйста, перейдите по следующей ссылке, чтобы установить новый пароль:</p>
            <p><a href="{{ reset_link }}">Сбросить пароль</a></p>
        </div>
        <div class="footer">
            <p>С уважением,<br>Команда поддержки</p>
        </div>
    </div>
</body>

</html>