.category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 240px;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 10px;
}

.category_tags {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 1020px) {
  .category {
    margin-bottom: 100px;
  }
  .category_tags {
    .category_tag {
      // width: 70%;
      min-width: 180px;
    }
  }
}
