@use "../../../main.scss";

.cart_delivery_active {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  @extend .TextLabel;

  h2 {
    @extend .TextLabel;
  }

  button {
    min-width: 180px;
    width: 60%;
    min-height: 30px;
    background-color: #c3abdb;
    border-radius: 16px;
    color: #000;
    border: 1px solid black;
    cursor: pointer;
    padding: 0 10px;
    @extend .TextBody;
  }
  .cart_delivery_name {
    margin: 0;
    @extend .TextLabel;
    opacity: 0.3;
  }

  .cart_delivery_address {
    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-row-gap: 0;
    text-align: left;

    h3 {
      @extend .TextLabel;
      margin: 10px 0;
    }
    p {
      margin: 0;
      padding: 0;
      @extend .TextBody;
    }

    .cart_delivery_address_additional {
      opacity: 0.4;
    }
  }

  .cart_delivery_time_label {
    @extend .TextLabel;
    margin-bottom: 10px;
  }

  .cart_delivery_time {
    justify-self: center;
    align-items: end;
  }
}

.cart_delivery_price {
  @extend .TextLabel;
  align-self: center;
  justify-self: center;
}
