@use "../../../../main.scss" as *;

.header_catalog {
  width: 165px;
  height: 48px;
  background: #c3abdb;
  border-radius: 16px;
  text-align: center;
  @extend .TextLabel;
  color: #ffffff;
}

.header_catalog:hover {
  border: 2px solid borderColor;
}

.header_catalog_title {
  @extend .TextLabel;
  color: #ffffff;
}
