@use "../../../../main.scss" as *;

.header_catalog {
  display: flex;
  width: 144px;
  height: 48px;
  background: #c3abdb;
  border-radius: 16px;
  gap: 20px;
}

.header_catalog:hover {
  border: 2px solid $borderColor;
}

.header_catalog_title {
  @extend .TextLabel;
  color: #ffffff;
}
