@use "../../main.scss" as *;

.footer {
  background-color: mainColor;
  height: 300px;
  font-family: "AlegreyaSC", "Alegreya", "Times New Roman", "serif";
  color: black;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  @extend .TextLabel;

  p {
    margin: 0;
  }
}

.footer_logo {
  // width: 20%;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  //   justify-content: center;
  //   align-self: center;
  align-items: center;
  justify-content: space-between;
  //   position: relative;
  margin: 30px 0;
}

.footer_info {
  // width: 80%;
  display: flex;
  gap: 240px;
  // justify-content: center;
  //   align-items: center;
}

.footer_logo_img {
  width: 240px;
  position: absolute;
  top: 30px;
}
.footer_logo_title {
  font-size: 32px;
  //   margin-left: 60px;
}

// .footer_logo_text {
//   position: absolute;
//   bottom: 30px;
//   //   font-size: 24px;
// }

.footer_info_pages {
  //   font-size: 24px;
  //   font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .footer_info_pages > p {
//   margin: 0;
// }

.footer_info_pages :first-child {
  margin: 30px 0;
}

.footer_info_contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  gap: 20px;
}

.footer_info_contacts :first-child {
  margin-bottom: 10px;
}
.social_links {
  display: flex;
}
.flowwow,
.master {
  img {
    margin-top: 10px;
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 1200px) {
  .footer_info {
    gap: 150px;
  }
}

@media (max-width: 1020px) {
  .footer_info {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 0 10px;
  }

  .footer_logo_img {
    width: 160px;
  }
}
