@use "../../../main.scss";

.category_tag {
  min-width: 150px;
  height: 45px;
  background-color: #dfb4e2;
  border-radius: 16px;
  @extend .TextBody;
  // color: white;
}

.category_tag_active {
  border: 2px inset #33f1e7;
}
