$mainTextColor: #f7cecc;
$secondFontColor: #e1f8f6;
$mainColor: #c3abdb;
$secondColor: #e1f8f6;
$borderColor: #33f1e7;

.TextH1 {
  color: black;
  font-size: 40px;
  font-family: "Alegreya SC", "Alegreya", "Times New Roman", "serif";
  font-weight: 500;
}

.TextH2 {
  color: black;
  font-size: 28px;
  font-family: "Alegreya SC", "Alegreya", "Times New Roman", "serif";
  font-weight: 500;
}

.TextBody {
  color: black;
  font-size: 16px;
  font-family: "Alegreya SC", "Alegreya", "Times New Roman", "serif";
  font-weight: 500;
}

.TextLabel {
  color: black;
  font-size: 20px;
  font-family: "Alegreya SC", "Alegreya", "Times New Roman", "serif";
  font-weight: 500;
}
