@use "../../../../cssVariables/variables.scss";

.auth_form_wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: linear-gradient(
    180deg,
    rgba(225, 248, 246, 0.6) 8%,
    rgba(247, 206, 204, 0.6) 70%
  );
  margin: 0;
  padding: 0;
  z-index: 3;
}

.auth_form {
  opacity: 0;
  animation: fadeIn 1s forwards;

  top: 40%;
  position: relative;
  background-color: white;
  width: 20%;
  min-width: 300px;
  border-radius: 10px;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .modal_wrapper {
    top: 20%;
  }

  .cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }

  h2 {
    text-align: center;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  button {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 180px;
    @extend .Btn;
  }
  button:hover {
    background-color: #e87de6;
  }
  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
  }
  .auth_form_reset_password {
    color: variables.$mainColor;
    padding: 0;
    margin: 0px;
  }
  .auth_form_reset_password:hover {
    color: #e87de6;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      margin-bottom: 15px;
    }
  }
  span {
    color: red;
  }
}

.auth_form_registration {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.registration {
  width: 30%;
  min-width: 600px;
}
