@use "../../main.scss" as *;

.about {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  margin: 0 10%;
  @extend .TextClass;
}

.about_text {
  display: flex;
  flex-direction: column;
  width: 600px;
  justify-content: flex-start;
  align-items: center;
}

.about_text > h2 {
  margin: 0;
}

.about_img {
  width: 500px;
}

.about_line {
  width: 80%;
  //   margin: 0 auto;
  //   align-self: center;
  margin: 125px 10%;
}

@media (min-width: 2200px) {
  //   .about {
  //     margin: 0 125px;
  //   }

  .about_img {
    width: 700px;
  }

  .about_text {
    width: 900px;
  }
}
