@use "./cssVariables/variables.scss";
// @import "./cssVariables//variables.scss";

body {
  font-family: "Alegreya SC", sans-serif;
  color: black;
  overflow-y: auto;
  display: flex;
  // display: block;
  background: #e1f8f6;
  // overflow-y: auto;
  overflow-x: hidden;
}

h1 {
  @extend .TextH1;
  inline-size: 1.1;
}

h2 {
  @extend .TextH2;
}

.container {
  display: flex;
  background-color: secondFontColor;
}

.wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

button:hover {
  border: 2px solid borderColor;
}
