$mainTextColor: #f7cecc;
$secondFontColor: #e1f8f6;
$mainColor: #c3abdb;
$secondColor: #e1f8f6;
$borderColor: #33f1e7;

.TextClass {
  color: black;
  font-size: 20px;
  font-family: "Alegreya SC";
  font-weight: 500;
}

.footerText {
  color: black;
  font-size: 24px;
  font-family: "Alegreya SC", "Alegreya", "Times New Roman", "serif";
  font-weight: 500;
}

.labelTextClass {
  color: $secondFontColor;
  font-size: 20px;
  font-family: "Alegreya SC", "Alegreya", "Times New Roman", "serif";
  // color: #000;
  // font-style: bold;
}

#root {
  width: 100%;
  background-color: #e1f8f6;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Alegreya SC", sans-serif;
  color: black;
  overflow-y: hidden;
  display: flex;
  background: #e1f8f6;
  overflow-y: auto;
}

h2 {
  @extend .TextClass;
  font-size: 36px;
}

.container {
  display: flex;
  // height: 79vh;
  background-color: $secondFontColor;
}

.wrapper {
  display: flex;
  flex-direction: column;
  // justify-content: center;
}

.cards {
  display: flex;
  flex-direction: row;
}

.cardItem {
  margin: 1em;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #c1b3b3;
  transition: box-shadow 0.3s ease;
  font-size: 51px;
}
