// @use "./cssVariables/variables.scss";
@import "./cssVariables//variables.scss";

#root {
  width: 100%;
  background-color: #e1f8f6;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Alegreya SC", sans-serif;
  color: black;
  overflow-y: hidden;
  display: flex;
  background: #e1f8f6;
  overflow-y: auto;
}

h1 {
  @extend .TextH1;
  inline-size: 1.1;
}

h2 {
  @extend .TextH2;
}

.container {
  display: flex;
  background-color: $secondFontColor;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
